.home-card-status{
    background-image: linear-gradient(87deg, #212529 0, #212229 100%) ;
    color: white;
}
.box-status-card{
   padding: 10px;
}
.padding{
    padding:10px;
}
.box-status-card-content{
    // height: 50px;
    padding:16px 24px;
    border-radius: 4px;
    background-color: white;
    color: black;
    .box-icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
    }
    .box-icon.color-orange{
        background-color: #f5365c;
    }
    .box-icon.color-lightorange{
        background-color: #fb6340;
    }
    .box-icon.color-yellow{
        background-color: #ffd600;
    }
    .box-icon.color-blue{
        background-color: #11cdef;
    }
    .icon{
        position: absolute;
        top:50%;
        left: 50%;
        font-size:20px;
        transform: translate(-50%, -50%);
        color: white;
    }

}
p{
    margin-top: 0;
    margin-bottom: 0 ;
}
p.flex{
    display: flex;
    flex-flow: column;
    font-family: 'Open Sans', sans-serif;
    
    span:nth-child(1){
        opacity: .4;
        font-size: 0.8125rem;
        font-weight: 700;
    }
    span:nth-child(2){
        opacity: .7;
        font-size: 1.25rem;
        font-weight: 600;
    }
    
}
p.one-line{
    font-family: 'Open Sans', sans-serif;
    opacity: .7;
    font-size: 1.25rem;
    font-weight: 600;
}
p.inline{
    margin: 16px 0 0 ;
    font-family: 'Open Sans', sans-serif;
    span:nth-child(1){
       
        span:nth-child(1){
            margin: 0 8px 0 4px;
            font-weight: 300
        }
    }
   
    span:nth-child(2){
        opacity: .5;
        font-weight: 400;
    }
}
.home-content{
    padding: 128px 39px;
}
.home-box-table{
    .home-table-title{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 24px;
    }
    .home-table-title::before{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: gray;
        content: '';
        opacity: .2;
    }
}
.main-content{
    position: relative;
}
.home-item-content{
    margin: -96px 0 0 ;
    padding: 0 34px;
    width: auto;
}
.home-chart-content, .home-table-content{
    flex-wrap: initial;
}
.home-table-content{
}
.home-chart-bar-box{
    border: 2px solid rgba(0, 0, 0, 0.05);
    
    background-color: white;
    color: black;
    border-radius: 0.375rem;
    .home-chart-bar-box-title{
        position: relative;
        padding: 20px 24px;
    }
}
.home-chart-bar-box-title::before{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: gray;
    content: '';
    opacity: .2;
}
.home-chart-line-box{
    border: 2px solid rgba(0, 0, 0, 0.05);
    background-color: white;
    color: black;
    border-radius: 0.375rem;
    .home-chart-line-box-title{
        position: relative;
        padding: 20px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .right{
        button:nth-child(1){
           margin-right: 16px; 
        }
    }
}
.home-box-table{
    border: 2px solid rgba(0, 0, 0, 0.05);
    background-color: white;
    color: black;
    border-radius: 0.375rem;
    margin:3rem 15px
}
.home-chart-line-box-title::before{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: gray;
    content: '';
    opacity: .2;
}
button.main-button{
    font-size: 0.875rem;
    padding:  8px 16px;
    box-shadow: 1px 3px 9px -1px rgba(207,196,207,1);
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    color: #5e72e4;
    border:none;
    background-color: white;
    cursor: pointer;
    transition:  all .3s ease;
    }
button.main-button.active{
    background-color: #5e72e4;
    color: white;
}
button.main-button:focus{
    border: none;
    outline: none;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(94, 114, 228, 0.5);
    // padding: 0;
}

button.main-button-table{
    padding:4px 8px;
    background-color: #465EE4;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    transition-duration:.1s;
    cursor: pointer;
    border-radius: 0.375rem;
    border: none;
    outline: none;
    font-weight: 600;
}
button.main-button-table:hover{
    transform:translateY(-1px);
    opacity: .8;
}
.home-chart-line-box, .home-chart-bar-box{
    margin: 0 15px;
}
.home-chart-line-box.home-chart-body:nth-child(2) {
    display: none;
} 

.home-table-body{
    width: 100%;
    table{
        font-family: 'Open Sans', sans-serif;
        border-collapse: collapse;
        width: 100%;
        text-align: left;
        th{
            text-transform: uppercase;
            letter-spacing: 1px; 
            // ระยะห่างตัวอักษร
            font-weight: 600;
            color: #8898AA;
            font-size: 10.4px;
            padding: 12px 24px;
            background-color: #F6F9FC;
        }
        tr{
            td:nth-child(1){
                font-weight: 600;
            }
        }
        td{
            font-size: 13px;
            padding: 16px 24px;
            color:#525F7F;
            font-weight: 400;
            span{
                i{
                    margin-right: 1rem;
                }
            }
        }
    }
}
.size-chart{
    position: relative !important;
    left: 0 !important;
    width: 100% !important;
    height: 400px !important;
    overflow: hidden !important;
}
// @media sreen and (min-width: 768px){
//     body{background-color: red;}
// }