.profile-app{
    position: relative;
    height: 100%;
    max-width: 100%;
    align-items: initial;
}
.banner-box{
    min-height: 600px;
    position: relative;
    background-image: url('https://demos.creative-tim.com/nextjs-argon-dashboard/_next/static/images/profile-cover-e2582654b8e7b6c285d5017df6427d73.jpg');
    background-size: cover;
    width: 100%;
    color: white;
    // border: 2px solid;
}
.banner-profile{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left: 0%;
    top:50%;
    transform: translate(0%, -50%);
    z-index: 1;
    padding:16px 39px;
    box-sizing:border-box;
    // transform: translate(-50%, -50%);
    .text{
        display: flex;
        flex-wrap: wrap;
        color: white;
        span{
            width: 100%;
        }
        span:nth-child(1){
            font-weight: 600;
            margin: 0 0 8px;
            font-size:44px
        }
        span:nth-child(2){
            font-size:16px
        }
        span:nth-child(3){
            font-size:16px;
            margin:0 0 48px;
            box-sizing:border-box;
        }
    }
    .button{
        font-size:14px;
        padding:10px 20px;
        box-sizing:border-box;
        width: 120px;
        height: 43px;
        color:white;
        background: #11CDEF;
        border-radius: 4px;
        font-weight: 600;
        outline: none;
        border: none;
    }
    .button:hover{
            transform:translateY(-1px);
            // opacity: .8;
            cursor: pointer;
    }
    .button:active{
        background-color: #0da5c0;
    }
}
.effect-image {
    background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
    opacity: 0.9;
    position: absolute;
    height: 100%;
    width: 100%;
}
.profile-informations{
    font-family: 'Open Sans', sans-serif;
    flex-wrap: initial;
    
    margin: -96px 0 0 0 ;
    padding: 0 39px !important;
    box-sizing:border-box;
    z-index: 10;
    position: relative;
    width: auto;
    .profile-card-box{
        padding: 0 9px;
        .profile-card{
            background-color: white;
            border-radius: 6px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
            .profile-title-detail{
                display: flex;
                align-content: center;
                justify-content: space-between;
                padding: 20px 24px;
                box-sizing:border-box;
                p{
                    font-size: 17px;
                    color:#32325D;
                    font-weight: 600;
                    line-height: 1.5;
                }
                button.button-title{
                    height: 28px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 12px;
                    color:white;
                    padding:4px 8px;
                    
                    font-weight: 600;
                    white-space: nowrap;
                    text-align: center;
                    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
                    border-radius: .375rem;
                    line-height: 1.5;
                    vertical-align: center;
                    box-sizing:border-box;
                    border: none;
                }
                button.button-title.color-dark-blue{
                    background-color: #5e72e4;
                    // border: 1px solid #5e72e4;
                }
                button.button-title.color-green-blue{
                    background-color: #11cdef;
                    // border: 1px solid #11cdef;
                }
                button.button-title.color-black{
                    background-color: #172b4d;
                    // border: 1px solid #172b4d;
                }
                button.button-title:hover{
                    cursor: pointer;
                    transform:translateY(-1px);
                }
                button.button-title.color-dark-blue:active{
                    background-color: #324cdd;
                    color: white;
                }
                button.button-title.color-green-blue:active{
                    background-color: #0da5c0;
                    color: white;
                }
                button.button-title.color-black:active{
                    background-color: #0b1526;
                    color: white;
                }
                button.button-title:focus{
                    border: none;
                    outline: none;
                }
            }
            .profile-title-detail.profile-card-box2{
                display:block;
            }
            .profile-input-detail{
                padding: 24px;
                box-sizing:border-box;
                background-color: #f7fafc;
               
                .grop-input{
                    width: auto;
                    padding: 0 0 0 15px;
                    box-sizing:border-box;
                    .col.is-2, .col.is-1, .col.is-3{
                        padding: 0 9px;
                        box-sizing: border-box;
                    }
                    p{
                        font-size: 14px;
                        margin-bottom: 8px;
                        color:#525F7F;
                        font-weight: 600;
                    }
                    .input-detail, textarea{
                        width: 100%;
                        padding: 10px 12px;
                        color:#8898aa;
                        font-size: 0.875rem;
                        font-weight: 400;
                        line-height: 1.5;
                        border-radius: .375rem;
                        outline: none;
                        border: 0;
                        box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
                        margin-bottom: 1.5rem;

                        // width เลย
                        box-sizing: border-box;
                        
                    }
                    textarea{
                        padding: 0 9px;
                        box-sizing: border-box;
                        font-family: 'Open Sans', sans-serif;
                    }
                    .input-detail:focus, textarea:focus{
                        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08)
                    }
                
                }
            }
            .heading-detail{
                margin: 0 0 24px;
                padding: 4px 0;
                text-transform: uppercase;
                letter-spacing: .04em;
                font-size: 12px;
                color:#8898AA;
                font-weight: 600;
                line-height: 1.5;
            }
        }
    }
   
}
.profile-image-box{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: -80px;
    position: relative;
}
.profile-image{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
// box 2
.profile-card-detail{
    padding: 24px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    .profile-status{
            display: flex;
            align-items: center;
            justify-content: space-between;
        p{
            display: flex;
            flex-wrap: wrap;
            padding: 14px;
            box-sizing: border-box;
            span{
                text-align: center;
                width: 100%;
               
            }
            span:nth-child(1){
                font-size: 17.6px;
                color:#525F7F;
                font-weight: bold;
                letter-spacing: 0.025em;
                text-transform:  uppercase;
            }
            span:nth-child(2){
                font-size: 14px;
                color:#ADB5BD;
            }
        }
    }
    p.border-bottom{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        span{
            width: 100%;
            margin: 0 0 8px
        }
        span:nth-child(1){
            width: auto;
            font-size: 17px;
            line-height: 1.5;
            font-weight: 600;
            color:#32325d;
        }
        span:nth-child(2){
            width: auto;
            font-size: 17px;
            color: #32325d;
            font-weight: 300;
        }
        span:nth-last-child(3){
            font-size: 13px;
            font-weight: 300;
            color:#32325d;
        }
        span:nth-last-child(2){
            margin: 24px 0 8px;
            font-size: 13px;
            font-weight: 600;
            line-height: 1.5;
            color:#32325d;
        }
        span:nth-last-child(1){
            font-size: 16px;
            color: #525f7f;
            margin: 0 0 4rem 0;
        }
    }
    p.border-bottom::after{
        content: '';
        width: 100%;
        height: 1px;
        background-color: black;
        opacity: .1;
        position: absolute;
        bottom:0;
        margin: 2rem 0;
    }
    p{
        text-align: center;
        color: #525f7f;
        font-weight: 300;
        line-height: 1.7;
    }
    p.show-more{
        margin-top:16px;
        color: #5e72e4;
    }
    p.show-more:hover{
        cursor: pointer;
        color: #233dd2;
    }
}